test/fixtures/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/calculator"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="Calculator"
    targetNamespace="http://example.com/calculator">
  <types>
    <xsd:schema targetNamespace="http://example.com/calculator">
      <xsd:element name="Add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="Mode">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="fast"/>
          <xsd:enumeration value="precise"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="AddRequest">
    <part name="parameters" element="tns:Add"/>
  </message>
  <message name="AddResponseMessage">
    <part name="parameters" element="tns:AddResponse"/>
  </message>
  <portType name="CalculatorPortType">
    <operation name="Add">
      <documentation>Adds two integers.</documentation>
      <input message="tns:AddRequest"/>
      <output message="tns:AddResponseMessage"/>
    </operation>
  </portType>
  <binding name="CalculatorBinding" type="tns:CalculatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
      <soap:operation soapAction="http://example.com/calculator/Add"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorBinding">
      <soap:address location="http://example.com/calculator"/>
    </port>
  </service>
</definitions>
